* {
  padding: 0;
  margin: 0;
}

body {
  margin: 1em;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  min-width: 400px;
}
body nav {
  display: flex;
  background-color: #575757;
  align-items: center;
  justify-content: flex-start;
  border-radius: 6px 6px 0 0;
  max-width: 400px;
  border: 2px solid rgb(255, 255, 255);
  padding: 0.5em;
}
body nav img {
  width: 25px;
  height: 25px;
  margin-right: 1em;
  padding-left: 0.4em;
  filter: invert(100%) sepia(1%) saturate(0%) hue-rotate(29deg) brightness(102%) contrast(101%);
}
body section.screen {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #363636;
  max-width: 400px;
  border: 2px solid rgb(255, 255, 255);
  padding: 0.5em;
  border-top: 1px;
}
body section.screen div.mini-nav {
  display: flex;
  width: 100%;
  align-items: center;
}
body section.screen img {
  width: 25px;
  height: 25px;
  margin-right: 1em;
  padding-left: 0.4em;
  filter: invert(100%) sepia(1%) saturate(0%) hue-rotate(29deg) brightness(102%) contrast(101%);
  cursor: pointer;
}
body section.screen img:hover,
body section.screen img :active {
  transform: scaleX(75%);
}
body section.screen div.result-container {
  display: flex;
  flex-direction: column;
  height: 80px;
  justify-content: flex-end;
  align-items: flex-end;
}
body section.screen div.result-container h1 {
  padding: 0.2em 0.4em;
  font-size: 1.7em;
}
body section.buttons {
  display: flex;
  flex-direction: column;
  background-color: #363636;
  max-width: 400px;
  border: 2px solid rgb(255, 255, 255);
  padding: 0.5em;
  border-top: 1px;
  border-radius: 0 0 6px 6px;
  justify-content: flex-end;
  align-items: flex-end;
}
body section.buttons div.numbers--operators-container {
  display: flex;
}
body section.buttons div.numbers--operators-container main.numbers {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
}
body section.buttons div.numbers--operators-container main.numbers div {
  display: flex;
  background-color: #575757;
  margin: 2px;
  border: 1px solid #363636;
  border-radius: 10px;
  width: 96px;
  height: 70px;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  cursor: pointer;
}
body section.buttons div.numbers--operators-container main.numbers div:hover {
  filter: brightness(0.8);
}
body section.buttons div.numbers--operators-container main.numbers div:active {
  /* Darken on click */
  filter: brightness(0.6);
}
body section.buttons div.numbers--operators-container aside.operators {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
}
body section.buttons div.numbers--operators-container aside.operators div {
  display: flex;
  background-color: #575757;
  margin: 2px;
  border: 1px solid #363636;
  border-radius: 10px;
  width: 96px;
  height: 70px;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  cursor: pointer;
}
body section.buttons div.numbers--operators-container aside.operators div:hover {
  filter: brightness(0.8);
}
body section.buttons div.numbers--operators-container aside.operators div:active {
  /* Darken on click */
  filter: brightness(0.6);
}
body section.buttons div.bottom-container {
  display: flex;
}
body section.buttons div.bottom-container div.equals {
  display: flex;
  background-color: #575757;
  margin: 2px;
  border: 1px solid #363636;
  border-radius: 10px;
  width: 96px;
  height: 70px;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  cursor: pointer;
  background-color: rgb(12, 109, 12);
}
body section.buttons div.bottom-container div.equals:hover {
  filter: brightness(0.8);
}
body section.buttons div.bottom-container div.equals:active {
  /* Darken on click */
  filter: brightness(0.6);
}
body section.buttons div.bottom-container div.cancel {
  display: flex;
  background-color: #575757;
  margin: 2px;
  border: 1px solid #363636;
  border-radius: 10px;
  width: 96px;
  height: 70px;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  cursor: pointer;
  background-color: rgb(109, 12, 12);
}
body section.buttons div.bottom-container div.cancel:hover {
  filter: brightness(0.8);
}
body section.buttons div.bottom-container div.cancel:active {
  /* Darken on click */
  filter: brightness(0.6);
}/*# sourceMappingURL=style.css.map */