* {
	padding: 0;
	margin: 0;
}

body {
	//variables
	$primary-color: #575757;
	$secondary-color: #363636;
	$filter-white: invert(100%) sepia(1%) saturate(0%) hue-rotate(29deg)
		brightness(102%) contrast(101%);

	//mixins
	@mixin icons {
		width: 25px;
		height: 25px;
		margin-right: 1em;
		padding-left: 0.4em;
		filter: $filter-white;
	}

	@mixin sections {
		max-width: 400px;
		border: 2px solid rgb(255, 255, 255);
		padding: 0.5em;
	}

	@mixin button {
		display: flex;
		background-color: $primary-color;
		margin: 2px;
		border: 1px solid $secondary-color;
		border-radius: 10px;
		width: 96px;
		height: 70px;
		justify-content: center;
		align-items: center;
		font-size: 1.5em;
		cursor: pointer;

		&:hover {
			filter: brightness(0.8);
		}
		&:active {
			/* Darken on click */
			filter: brightness(0.6);
		}
	}

	//global body changes
	margin: 1em;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	min-width: 400px;

	nav {
		display: flex;
		background-color: $primary-color;
		align-items: center;
		justify-content: flex-start;
		border-radius: 6px 6px 0 0;
		@include sections;

		img {
			@include icons;
		}
	}
	section.screen {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		background-color: $secondary-color;
		@include sections;
		border-top: 1px;

		div.mini-nav {
			display: flex;
			width: 100%;
			align-items: center;
		}

		img {
			@include icons;
			cursor: pointer;
			&:hover,
			:active {
				transform: scaleX(75%);
			}
		}

		div.result-container {
			display: flex;
			flex-direction: column;
			height: 80px;
			justify-content: flex-end;
			align-items: flex-end;

			h1 {
				padding: 0.2em 0.4em;
				font-size: 1.7em;
			}
		}
	}
	section.buttons {
		display: flex;
		flex-direction: column;
		background-color: $secondary-color;
		@include sections;
		border-top: 1px;
		border-radius: 0 0 6px 6px;
		justify-content: flex-end;
		align-items: flex-end;

		div.numbers--operators-container {
			display: flex;
			main.numbers {
				display: grid;
				grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);

				div {
					@include button;
				}
			}
			aside.operators {
				display: grid;
				grid-template-columns: minmax(0, 1fr);

				div {
					@include button;
				}
			}
		}

		div.bottom-container {
			display: flex;
			div.equals {
				@include button;
				//width: 48.7%;
				background-color: rgb(12, 109, 12);
			}
			div.cancel {
				@include button;
				//width: 48.7%;
				background-color: rgb(109, 12, 12);
			}
		}
	}
}
